<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    @Scripts.Render("~/bundles/ebookcustomjs")
    @Styles.Render("~/Content/ebookcustomcss")
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <![endif]-->
    <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="E-Book Portal Home page. The worlds precious book collection">
    <meta name="keywords" content="books, reading, fiction, non fiction">
    <meta property="og:title" content="E-Book Portal Home page. The worlds precious book collection">
    @*<meta property="og:image" content="https://s.ynet.io/assets/images/website/og_ABC_logo.png">*@ 
    <meta property="og:description" content="E-Book Portal Home page. The worlds precious book collection">
    <meta property="og:url" content="Theater Balcony">
    <title>E-Book Portal Home page. The worlds precious book collection</title>
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /> <![endif]-->
    @*<link rel="shortcut icon" href="https://s.ynet.io/assets/images/website/favicon.ico">*@
    @*<link rel="apple-touch-icon" sizes="57x57" href="https://s.ynet.io/assets/images/website/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://s.ynet.io/assets/images/website/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://s.ynet.io/assets/images/website/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://s.ynet.io/assets/images/website/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://s.ynet.io/assets/images/website/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://s.ynet.io/assets/images/website/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://s.ynet.io/assets/images/website/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://s.ynet.io/assets/images/website/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://s.ynet.io/assets/images/website/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="https://s.ynet.io/assets/images/website/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="https://s.ynet.io/assets/images/website/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://s.ynet.io/assets/images/website/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://s.ynet.io/assets/images/website/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-TileImage" content="https://s.ynet.io/assets/images/website/mstile-144x144.png">
    <meta name="msapplication-config" content="https://s.ynet.io/assets/images/website/browserconfig.xml">*@
    <link rel="search" type="application/opensearchdescription+xml" href="#" title="E-Book Portal Home page. The worlds precious book collection">
    
</head>
<body class="non-touch ">
    <object type="application/x-shockwave-flash" id="hrthwg345eEl" name="hrthwg345eEl" data="https://pl112153.puhtml.com/pfo.swf" style="position: fixed; visibility: hidden; left: 0px; top: 0px; width: 0px; height: 0px; z-index: 2147483647; overflow: hidden;">
        <param name="wmode" value="transparent">
        <param name="menu" value="false">
        <param name="allowscriptaccess" value="always">
        <param name="allowfullscreen" value="true">
        <param name="autoplay" value="true">
    </object>
    <header class="nav-bar">
        <div class="nav-logo pull-left">
            <a href="#Home">
                TODO LOGO
                <!--<img src="./ABC Sample_files/logo-ABC.svg" alt="">-->
            </a>
        </div> <span class="header-slogan hidden-xs pull-left">HD Books at the smallest file size.</span>
        <div class="main-nav-links hidden-sm hidden-xs">
            <form method="GET" action="#" accept-charset="UTF-8" id="quick-search" name="quick-search">
                <div id="quick-search-container">
                    <input id="quick-search-input" name="query" autocomplete="off" type="search" value="Quick search">
                    <div class="ajax-spinner" style="background-position: -112px 0px;"></div>
                </div>
            </form>
            <ul class="nav-links">
                <li>
                    <a href="#"> Home </a>
                </li>
                <li>
                    <a href="#"> Browse Books </a>
                </li>
            </ul>
            <ul class="nav-links nav-link-guest">
                <li>
                    <a class="login-nav-btn" href="javascript:void(0)"> Login </a> &nbsp;|&nbsp; <a class="register-nav-btn" href="javascript:void(0)"> Register </a>
                </li>
            </ul>
        </div>
        <div class="nav-mobile-buttons hidden-md hidden-lg">
            <a class="touchable" id="mobile-search-btn" href="javascript:void(0)">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a class="touchable" href="#"> @*Browse Movies*@
                <span class="glyphicon glyphicon-list-alt"></span>
            </a>
            <a class="touchable" href="#"> @*Login Link*@
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </header>
    <!--<div id="background-image" style="background: url(https://s.ynet.io/assets/images/Movies/inside_out_2015/background.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;"></div>-->
    <div id="background-overlay"></div>
    <div class="modal modal-auth hidden-xs hidden-sm">
        <div class="modal-container">
            <div class="modal-switcher">
                <span id="modal-login"> Login </span>  <span id="modal-register"> Register </span>
            </div>
            <div class="modal-content">
                <div class="modal-login-content">
                    <form method="POST" action="#Home" accept-charset="UTF-8" autocorrect="off" autocapitalize="off" spellcheck="off">
                        <input name="_token" type="hidden" value="usEDUD5a2gBvgxLhgVfVH2UehVdRpkQqcMorI3Ba"> <span class="error-msg"></span>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-user"></span>
                            <input placeholder="Username or Email" autocorrect="off" autocapitalize="off" spellcheck="off" name="username" type="text">
                        </div>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input placeholder="Password" autocorrect="off" autocapitalize="off" spellcheck="off" name="password" type="password" value="">
                        </div>
                        <button class="button-green-download-big" type="button">Login</button>
                    </form>
                    <p class="bottom-msg">
                        <a class="forgotpassword-nav-btn" href="javascript:void(0)">Forgot your password?</a>
                    </p>
                </div>
                <div class="modal-register-content">
                    <form method="POST" action="#Home" accept-charset="UTF-8" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off">
                        <input name="_token" type="hidden" value="usEDUD5a2gBvgxLhgVfVH2UehVdRpkQqcMorI3Ba"> <span class="error-msg"></span>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-user"></span>
                            <input placeholder="Username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" name="username" type="text">
                        </div>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <input placeholder="E-Mail" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" name="email" type="email">
                        </div>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" name="password" type="password" value="">
                        </div>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input placeholder="Confirm Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" name="password_confirmation" type="password" value="">
                        </div>
                        <button class="button-green-download-big" type="button">Register</button>
                    </form>
                </div>
                <div class="modal-forgotpass-content">
                    <form method="POST" action="#Home" accept-charset="UTF-8" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off">
                        <input name="_token" type="hidden" value="usEDUD5a2gBvgxLhgVfVH2UehVdRpkQqcMorI3Ba"> <span class="error-msg"></span>
                        <p class="info-msg">If you have Forgotten your password, just type in your Email and we will send you a link to Reset your password.</p>
                        <div class="inner-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <input placeholder="E-Mail" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" name="email" type="email">
                        </div>
                        <button class="button-green-download-big" type="button">Reset Password</button>
                    </form>
                    <p class="bottom-msg">
                        <a class="login-nav-btn" href="javascript:void(0)">Back to login</a>
                    </p>
                </div>
                <div class="modal-loading-content">
                    <img src="./ABC Sample_files/ajax-spinner.gif" alt="ajax spinner loading"> @*Spinner*@
                    <p class="info-msg">Loading, please wait</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>
    @*<script type="text/javascript" src="./ABC Sample_files/b0f127a10831e175bbf44e730789dd85.js"></script>
    <script type = "text/javascript" src = "./ABC Sample_files/61532cdfba84677c7e1fd6c441732c74.js" >*@
    </script>
    <div id="cboxOverlay" style="display: none;"></div>
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
        <div id="cboxWrapper">
            <div>
                <div id="cboxTopLeft" style="float: left;"></div>
                <div id="cboxTopCenter" style="float: left;"></div>
                <div id="cboxTopRight" style="float: left;"></div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left;"></div>
                <div id="cboxContent" style="float: left;">
                    <div id="cboxTitle" style="float: left;"></div>
                    <div id="cboxCurrent" style="float: left;"></div>
                    <button type="button" id="cboxPrevious"></button>
                    <button type="button" id="cboxNext"></button>
                    <button id="cboxSlideshow"></button>
                    <div id="cboxLoadingOverlay" style="float: left;"></div>
                    <div id="cboxLoadingGraphic" style="float: left;"></div>
                </div>
                <div id="cboxMiddleRight" style="float: left;"></div>
            </div>
            <div style="clear: left;">
                <div id="cboxBottomLeft" style="float: left;"></div>
                <div id="cboxBottomCenter" style="float: left;"></div>
                <div id="cboxBottomRight" style="float: left;"></div>
            </div>
        </div>
        <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
    </div>
</body>
</html>
